{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
      <div class="large-12 columns text-center">
        <h1>Coupe Davis 2016 - Belgium / Croatie</h1>
      </div>
    </div>
   <div class="row">
      <div class="large-10 large-offset-1 columns text-center">
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false">
  <ul class="orbit-container">
    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
    <li class="is-active orbit-slide">
      <div class="text-center">
          <img src="{{ asset ('img/belgium01.jpg') }}" width="100%" height="400" />
      </div>
    </li>
    <li class="orbit-slide">
      <div class="text-center">
        <img src="{{ asset ('img/belgium02.jpg') }}"  width="100%" height="400"/>      
      </div>
    </li>
    <li class="orbit-slide">
      <div class="text-center">
        <img src="{{ asset ('img/belgium03.jpg') }}"  width="100%" height="400"/>      
      </div>
    </li>
    <li class="orbit-slide">
      <div class="text-center">
        <img src="{{ asset ('img/belgium04.jpg') }}" width="100%" height="400"/>      
      </div>
    </li>
  </ul>
  <nav class="orbit-bullets">
   <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
   <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
   <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
   <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
 </nav>
</div>
      </div>
   </div>
      <div class="row">
          <div class="large-12 medium-12 columns text-center">
            <div class="callout alert">
                <p>Du 4 au 6 mars 2016, la Belgique, finaliste 2015,  affrontera la Croatie dans le cadre du 1er tour du groupe mondial de la Coupe Davis.Cette rencontre se déroulera au Country Hall de Liege.</p>
            </div>              
          </div>
      </div>



    <div class="row">
      <div class="large-8 medium-8 columns">
        <h5>Programme  (Horaires à confirmer):</h5>
        <!-- Grid Example -->

        <ul class="accordion" data-accordion data-multi-expand="true" role="tablist">
          <li class="accordion-item is-active">
            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Vendredi 4 mars:</a>
            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                <ul>
                    <li>Accueil V.I.P.</li>
                <li>Ouverture des portes au public</li>
                <li>Cérémonie d'ouverture</li>
                <li>2 matches de simple </li>
                </ul>
            </div>
          </li>
          <li class="accordion-item">
            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Samedi 5 mars:</a>
            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                <ul>
                <li>Accueil V.I.P.</li>
                <li>Ouverture des portes au public</li>
                <li>Cérémonie de présentation des équipes</li>
                <li>1 match de double</li>
                </ul>
            </div>
          </li>
          <li class="accordion-item">
            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Dimance 6 mars:</a>
            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                <ul>
                <li>Accueil V.I.P.</li>
                <li>Ouverture des portes au public</li>
                <li>2 matches de simple</li>
                </ul>
            </div>
          </li>
        </ul> 

      </div>

      <div class="large-4 medium-4 columns">
        <h5>Réserver vos places ici:</h5>
        <div class="callout media-object">
          <div class="media-object-section">
              <div class="thumbnail">
              <a href="#" ><img src= "{{ asset('img/3Jmars.png') }}" width="64px"></a>
              </div>
          </div>
          <div class="media-object-section">
            <h4>Abonnement 3 jours.</h4>
            <p>92€ pour les adultes et 47€ pour les enfants né après 2002.</p>
          </div>
        </div>  
              
        <div class="callout media-object">
          <div class="media-object-section">
              <div class="thumbnail">
              <a href="#" ><img src= "{{ asset('img/04mars.png') }}" width="64px"></a>
              </div>
          </div>
          <div class="media-object-section">
            <h4>Vendredi 04 mars.</h4>
            <p>42€ pour les adultes et 22€ pour les enfants né après 2002.</p>
          </div>
        </div>  
 
        <div class="callout media-object">
          <div class="media-object-section">
              <div class="thumbnail">
              <a href="#" ><img src= "{{ asset('img/05mars.png') }}" width="64px"></a>
              </div>
          </div>
          <div class="media-object-section">
            <h4>Samedi 05 mars.</h4>
            <p>32€ pour les adultes et 17€ pour les enfants né après 2002.</p>
          </div>
        </div>  
 
        <div class="callout media-object">
          <div class="media-object-section">
              <div class="thumbnail">
              <a href="#" ><img src= "{{ asset('img/06mars.png') }}" width="64px"></a>
              </div>
          </div>
          <div class="media-object-section">
            <h4>Dimanche 06 mars.</h4>
            <p>42€ pour les adultes et 22€ pour les enfants né après 2002.</p>
          </div>
        </div>  
        <div class="callout alert">
            <p>Pour suivre mes réservations cliquer <a href=#><i class="fi-marker"></i>&nbsp;ici</a></p>
        </div>              
     </div>
    </div>

{% endblock %}
